# Top-level Spring Initializr helper files
HELP.md

### Java / Maven ###
target/
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.log
hs_err_pid*
replay_pid*

# Maven wrapper jar (if you prefer not to commit it)
.mvn/wrapper/maven-wrapper.jar

# Other Maven noise
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.flattened-pom.xml

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd
.DocumentRevisions-V100
.TemporaryItems

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
.tmp/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Misc editors ###
*~
*.swp
*.swo
